.accueil-photo {
  background-color: white;
  padding: 80px;
}

.accueil-photo h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photo div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-intro {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
}

.accueil-intro h1 {
  margin-bottom: 15px;
}

.accueil-intro p {
  margin-bottom: 30px;
}

.accueil-intro div {
  padding-right: 80px;
}

.ctadiv {
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  color: white;
}

.partie {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-colum {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 20px;
}

.parlons h2 {
  color: #a5b4fc;
  text-align: center;
  margin-bottom: 80px;
}

input,
textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
}

label {
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}
